/* .todoList {
    width: 500px;
    border: 1px solid;
    
   
} */

.div {
    word-wrap: break-word;
}
.itemsList {
    
    /* height:min-content; */
    display: inline-block;
    /* border: 1px solid; */
    margin: 5px;
    word-wrap: break-word;
    

}

.item {
    background-color: rgb(68, 99, 126);
    color: antiquewhite;
    align-content: right;
    margin: 15px;
    border-radius: 5px;
    height: max-content;
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
    
    
}

.itemText {
    
    text-align: center;
    
    
}

.complited {
    text-decoration: line-through;
}

.item div {
    margin: 10px;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    word-wrap: break-word;
    /* border: 1px solid */
}

 .itemDelete {
    color: red;
    float: right;
}